.single-custom {
    margin-top: 96px;

    &__title {
        margin-bottom: 40px;

        .date {
            color: #29275F;
            text-align: center;
            font-family: $rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 16.8px */
            letter-spacing: 2px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 24px;

            &::before {
                content: '';
                width: 118px;
                height: 1px;
                display: block;
                opacity: 0.2;
                background: #29275F;
                margin-right: 8px;
            }

            &::after {
                content: '';
                width: 118px;
                opacity: 0.2;
                display: block;
                background: #29275F;
                height: 1px;
                margin-left: 8px;
            }
        }

        .category {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            margin-bottom: 32px;

            li {
                list-style: none;
            }

            ul li {
                a {
                    color: #29275F;
                    text-align: center;
                    font-family: $rubik;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    padding: 16px;
                    border-radius: 16px;
                    background: #F2F6FF;
                }
            }
        }

        h1 {
            color: #002232;
            text-align: center;
            font-family: $rubik;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }
    }

    &__imagen {
        margin-bottom: 48px;
    }

    &__text {
        .wp-block-image {
            margin-top: 16px;
        }

        blockquote {
            display: flex;
            align-items: flex-start;
            margin-top: 48px;
            margin-bottom: 48px;

            p {
                color: #302E57;
                text-align: justify;
                font-family: $rubik;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                /* 38.4px */
            }

            &::before {
                content: '';
                min-width: 64px;
                height: 44px;
                display: block;
                margin-right: 32px;
                background-image: url("data:image/svg+xml,%3Csvg width='64' height='44' viewBox='0 0 64 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M15.7405 43.9315C11.9351 44.274 8.64865 43.332 5.88108 41.1055C3.28649 38.7077 1.55676 35.6248 0.691892 31.8568C0 28.6026 -0.172973 25.2627 0.172973 21.8373C0.691892 18.2406 1.81622 14.9864 3.54595 12.0747C5.44865 8.99183 8.04324 6.3371 11.3297 4.11055C14.6162 1.884 18.7676 0.513819 23.7838 0L25.6 6.42273C23.0054 7.10782 20.2378 8.30673 17.2973 10.0195C14.3568 11.7322 12.4541 14.6438 11.5892 18.7544L15.4811 17.9837C19.4595 17.8124 22.8324 18.9257 25.6 21.3235C28.5405 23.7213 30.0108 26.7186 30.0108 30.3153C30.0108 33.912 28.627 37.0806 25.8595 39.8209C23.0919 42.39 19.7189 43.7602 15.7405 43.9315ZM49.9892 43.9315C46.0108 44.274 42.7243 43.332 40.1297 41.1055C37.5351 38.7077 35.8054 35.6248 34.9405 31.8568C34.0757 28.6026 33.9027 25.2627 34.4216 21.8373C34.9405 18.2406 36.0649 14.9864 37.7946 12.0747C39.6973 8.99183 42.2919 6.3371 45.5784 4.11055C48.8649 1.884 52.9297 0.513819 57.773 0L59.8486 6.42273C57.2541 7.10782 54.4 8.30673 51.2865 10.0195C48.3459 11.7322 46.4432 14.6438 45.5784 18.7544C46.2703 18.5831 46.8757 18.4975 47.3946 18.4975C48.0865 18.3262 48.8649 18.1549 49.7297 17.9837C53.7081 17.8124 57.0811 18.9257 59.8486 21.3235C62.6162 23.7213 64 26.7186 64 30.3153C64 33.912 62.6162 37.0806 59.8486 39.8209C57.2541 42.39 53.9676 43.7602 49.9892 43.9315Z' fill='%23363485'/%3E%3C/svg%3E");
            }
        }

        a {
            color: #00AFAA;
        }

        ul li {
            padding-left: 12px;
            position: relative;
            list-style: none;

            &::before {
                content: '';
                min-width: 8px;
                height: 8px;
                display: block;
                border-radius: 50%;
                background: #00AFAA;
                position: absolute;
                top: 12px;
                left: -8px;
            }
        }

        p,
        ul>li {
            color: #2E3557;
            text-align: justify;
            font-family: $rubik;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            margin-bottom: 16px;

            strong {
                font-weight: 700;
                font-family: $rubik;

            }
        }
    }

    .container {
        @include tablet {
            max-width: 1000px;
        }
    }
}