.comments {
  position: relative;
  overflow: hidden;

  @include tablet {
    height: 560px;
    display: flex;
    flex-flow: wrap;
    align-items: center;

    .circle {
      width: 367px;
      height: 335px;
      position: absolute;
      left: 0;
      border-radius: 367px;
      opacity: 0.7;
      background: #D7F8FF;
      filter: blur(70px);
      top: 150px;
      left: 0px;

      &:nth-child(2) {
        background: #73F5AF;
        right: -150px;
        left: inherit;
        top: 0;
        opacity: 0.2;

      }

      &:nth-child(3) {
        top: -50px;
        background: #73F5AF;
        opacity: 0.2;

        left: -150px;
      }
    }
  }

  &__title {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 64px;

    }

    h3,
    h4,
    h2 {
      color: #002169;
      font-family: $rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      text-align: left;

      @include tablet {
        font-size: 50px;
        text-align: center;
      }

      strong {
        color: #00AFAA;
        font-weight: 700;

      }
    }
  }

  &__content {
    display: flex;
    flex-flow: wrap;
    max-width: 1148px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      justify-content: space-between;
      align-items: flex-start;
    }

    &__item {
      padding: 16px 28px;
      border-radius: 24px;
      background: #FFF;
      box-shadow: 0px 4px 24px 0px rgba(134, 148, 197, 0.25);
      margin-bottom: 24px;

      @include tablet {
        max-width: 260px;
        margin-bottom: 0px;
      }

      p {
        color: var(--Negro, #2A2938);
        font-family: $rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        strong {
          font-weight: 700;
        }
      }
    }
  }
}