.credits {
  overflow: hidden;
  .content {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
  }

  &-brand {
    position: relative;
    max-width: 574px;
    width: 100%;

    &__text {
      max-width: 384px;
      width: 100%;
      position: relative;
      margin-top: 48px;

      @include tablet {
        top: -20px;
        margin-top: 0px;
      }

      &.entrance {
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

      h3,
      h2,
      h4 {
        color: #002169;
        font-family: $rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        /* 57.2px */
        @include tablet {
          font-size: 40px;
        }
      }

      p {
        color: #1C1F3A;
        font-family: $rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 16px;
      }

    }

    .circle {
      width: 342px;
      height: 342px;
      border-radius: 50%;
      border: 1px solid #BCBDCC;
      position: absolute;
      left: 0;
      top: 0;

      .sub-circle {
        width: 154px;
        height: 154px;
        display: block;
        position: absolute;
        background: #73F5AF;
        opacity: 0.3;
        filter: blur(49px);
        z-index: -1;

        &:first-child {
          right: 0px;
          top: 0px;
          background: #00ABC7;
        }

        &:nth-child(2) {
          top: 45px;
          left: -80px;
          background: #dadd39;
        }

        &:last-child {
          right: 0px;
          bottom: 0px;
        }
      }
    }

    &__item {

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24px;
      box-shadow: 0px 4px 24px 0px rgba(195, 204, 236, 0.60);
      position: relative;
      z-index: 2;
      background-color: #fff;
      left: -20px;
      top: -30px;
      cursor: pointer;
      transition: ease-in-out .3s transform;
      width: 188px;
      height: 109px;

      @include tablet {
        width: 238px;
        left: -70px;
        top: -30px;
        height: 129px;
      }

      &.gray {
        filter: grayscale(1)
      }

      &:hover {
        transform: scale(1.04);
      }

      &:nth-child(2) {
        left: -90px;
        top: -50px;

        @include mobile {
          left: -20px;
          top: 0px;
        }
      }

      &:nth-child(3) {
        bottom: 44px;
        left: 200px;

        @include mobile {
          bottom: 84px;
          left: 180px;
        }
      }

      img {
        height: 60px;
        width: auto;
        display: block;

        @include tablet {
          height: 99px;
        }
      }
    }
  }



}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-3 17:35:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}