.modalFlotante{
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0px;
  z-index: 99999;
  padding: 40px 12px;
  background: white;
  border-radius: 16px 0px 0px 16px;

  box-shadow: 0px 4px 24px 0px rgba(99, 89, 157, 0.25);
  @include tablet{
    padding: 54px 22px;
  }
&__content{
  &__close{
    position: absolute;
    right: 14px;
    top: 14px;
  }
  &__text{
    h3{
      color: #002169;

      text-align: center;
      font-family: $rubik;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 8px;
      @include tablet{
        font-size: 28px;
      }
    }
    a{
      padding:12px 19px;
      font-size: 14px;
      width: 100%;
      text-align: center;
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: center;
    }
  }
}}